{% extends 'base.html.twig' %}

{% block title %}Hello PublicController!{% endblock %}

{% block body %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-success w-100 mt-3">{{ button_label|default('Enregistrer') }}</button>
    {{ form_end(form) }}
{% endblock %}
